{% extends 'homepage/base.html' %}

{% block content %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h3>Hello! Your journey begins here!</h3>
      <p>Ms Jennifer started at a young age and has continued to follow her mystical path.</p>
      <p><a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Blog</h2>
        <p>Read my blog posts about psychic phenomenom and other topics.</p>
        <p><a class="btn btn-secondary" href="{% url 'allblogs' %}" role="button">View details &raquo;</a></p>
      </div>

      <div class="col-md-4">
        <h2>Tarot Reading</h2>
        <p>Ask a question and receive a reading</p>
        <p><a class="btn btn-secondary" href="{% url 'question' %}" role="button">View details &raquo;</a></p>
      </div>

      <div class="col-md-4">
        <h2>Reiki</h2>
        <p></p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>


    <hr>
    </div>
  </div> <!-- /container -->

</main>




  {% endblock %}
