{% extends "homepage/base.html" %}

{% block content %}


  <div class="container">
    <!-- Example row of columns -->
    <div class="row">

      <div class="col-md-4">
        {% if user.is_authenticated %}
        <p>Please focus and calm your mind and then ask</p>
        <form enctype="multipart/form-data" action="{% url 'question' %}" method="post">
          {% csrf_token %}

          <label for="question">Your question:</label>
          <input type="text" name="question">
          <br>
          <br>
          <input type="submit" name="" value="Send to Ms Jen">
        </form>
        <hr>
        {% else %}
        <p> Please login or sign up to ask a question and receive a reading</p>
        {% endif %}
      </div>

</div> <!-- /container -->



{% endblock %}
